/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
/* Your app custom styles here */
/*.landlord{
	display:none;
}*/
.text-center {
  text-align: center;
}
.no-margin-block {
  margin: 0;
  clear: both;
}
.no-padding {
  padding: 0;
}
.top-margin-block {
  margin: 25px 0 0 0;
}
.block-strong:before,
.block-strong:after,
.list .item-inner:after {
  background-color: transparent;
}
.list .item-inner {
  justify-content: unset;
}
.list .item-inner label {
  margin-left: 50px;
}
.list .item-inner label img {
  margin-left: 20px;
}
/*body{
	max-width: @body-width;
	max-weight: @body-height;
	margin: 0 auto;
	background-color: #000000;
}*/
.left {
  margin-left: 10px;
}
.right {
  margin-top: 10px;
  margin-right: 10px;
}
.card-margin-middle {
  margin: auto;
  vertical-align: middle;
  padding: 65px 0;
  text-align: center;
}
.card-inline-blocks {
  margin: 2% 5%;
  width: 172.8px;
  display: inline-block;
  height: 200px;
}

.navbar-bg{
	/* visibility:hidden; */
  background: transparent;
}

.swiper-slide {
  text-align: center;
}
.announcement-img {
  width: 384px;
  max-height: 216px;
  margin: 0 auto;
}
.card-views {
  width: 432px;
  margin: 0 auto;
  text-align: center;
}
.list-buttons {
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: 48px;
  font-weight: 500;
  text-transform: uppercase;
}
.logout {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.announcement-small-icon {
  width: 50px;
  height: 50px;
}
.announcement-small-title {
  margin: 0;
}
.announcement-small-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 700px;
}
.announcement-list-row {
  padding: 15px 0;
}
#qrcode-canvas {
  padding: 0;
  margin: 0 auto;
  display: block;
}
.amount-title {
  text-align: center;
  font-size: 18px;
}
.amount-large {
  text-align: center;
  font-size: 28px;
}