// @body-width: 480px;
// @body-height: 853px;
@body-height: 50em;
@body-width: 22.5em;
@announcement-width: @body-width * 0.8;
@announcement-height: @announcement-width * (9/16);
@card-view-width: @body-width * 0.8;
@card-width: @card-view-width * 0.5;

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
/*.landlord{
	display:none;
}*/

.text-center{
	text-align: center;
}

.no-margin-block{
	margin: 0;
	clear: both;
}

.no-padding{
	padding: 0;
}

.top-margin-block{
	margin: 25px 0 0 0;
}

.block-strong:before, .block-strong:after,.list .item-inner:after{
	background-color:transparent;
}

.list .item-inner{
	justify-content: unset;
}

.list .item-inner label{
	margin-left: 50px;
}

.list .item-inner label img{
	margin-left: 20px;
}

// body{
// 	max-width: @body-width;
// 	max-height: @body-height;
// 	margin: 0 auto;
// 	background-color: #000000;
// }

//dashboard
.page{
	background-color: #C8E0FF;
}

.page-content{
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10% 2%;
}

.left{
	margin-left: 10px;
}

.right{
	margin-top: 10px;
	margin-right: 10px;
}

.card-margin-middle{
	margin: auto;
	vertical-align: middle;
	padding: 16% 15%;
	text-align: center;
}

.card-inline-blocks{
	margin: 2%;
	width: @card-width;
	display: inline-block; 
	height: 40%;
	border-radius: 7%;
}


/*.navbar-bg{
	visibility:hidden;
}*/

.swiper-slide{
	text-align: center;
	margin-top: 5%;
}

.announcement-img{
	width: @announcement-width;
	margin: 0 auto;
}

.card-views{
	// width: @card-view-width;
	margin: auto;
	text-align: center;
}

.list-buttons{
	width:100%;
	font-size:14px;
	text-align:center;
	height: 48px;
    font-weight: 500;
    text-transform: uppercase;
}

.logout{
	position:absolute;
	bottom: 0px;
	width:100%;
}

//announcement
.announcement-small-icon{
	width: 10vw;
	height: 10vw;
}

.announcement-small-title{
	margin: 0;
}

.announcement-small-text{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 700px;
}

.announcement-list-row{
	padding: 15px 0;
}

//qr code
#qrcode-canvas{
	padding: 0;
    margin: 0 auto;
    display: block;
}

//payment
.amount-title{
	text-align:center;
	font-size:18px;
}

.amount-large{
	text-align:center;
	font-size:28px;
}