// @body-width: 480px;
// @body-height: 853px;
@body-height: 50em;
@body-width: 22.5em;
@announcement-width: @body-width * 0.8;
@announcement-height: @announcement-width * (9/16);
@card-view-width: @body-width * 0.8;
@card-width: @card-view-width * 0.5;

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

*{
	font-family: Arial, Helvetica, sans-serif;
}

/* Your app custom styles here */
/*.landlord{
	display:none;
}*/

.text-center{
	text-align: center;
}

.no-margin-block{
	margin: 0;
	clear: both;
}

.no-padding{
	padding: 0;
}

.top-margin-block{
	margin: 25px 0 0 0;
}
.block-strong{
	background-color: transparent;
}
.block-strong:before, .block-strong:after,.list .item-inner:after{
	background-color:transparent;
}

.list .item-inner{
	justify-content: unset;
	margin-top:10px;
}

.list .item-inner label{
	margin-left: 70px;
	font-size:25px;
	text-align:center;
	
	
}

.list .item-inner label img{
	margin-left: 25px;
	
}

// body{
// 	max-width: @body-width;
// 	max-height: @body-height;
// 	margin: 0 auto;
// 	background-color: #000000;
// }

//dashboard
.page{
	// background-color: #C8E0FF;
	background: rgb(200,224,255);
	// background: linear-gradient(180deg, rgba(200,224,255,1) 0%, rgba(255,217,173,1) 53%, rgba(200,224,255,1) 100%);
	background: linear-gradient(180deg, rgba(200,224,255,1) 0%, rgba(252,252,252,1) 100%);
}

.page-content{
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 5% 0%;
	padding: 5px;
	top: 10px;
}

.left{
	margin-top: 8%;
	// margin-left: 10px;
	float: left;
}

.right{
	margin-top: 8%;
	// margin-right: 10px;
	float: right;
}

.title{
	margin-top: 8%;
}

.card-margin-middle{
	margin: auto;
	vertical-align: middle;
	padding: 16% 15%;
	text-align: center;
	font-size: 18px;
}

.card-inline-blocks{
	margin: 2%;
	width: @card-width;
	display: inline-block; 
	height: 40%;
	border-radius: 7%;
}

.navbar-inner{
	padding: 10%;
	margin-top: 50%;
	// background-color: #c8e0ff;
	background-color: transparent;
}


/*.navbar-bg{
	visibility:hidden;
}*/

.swiper-slide{
	text-align: center;
	margin-top: 5%;
}

.announcement-img{
	width: @announcement-width;
	margin: 0 auto;
}

.card-views{
	// width: @card-view-width;
	margin: auto;
	text-align: center;
}

//Right Panel List
.list-buttons{
	width: 100%;
	font-size: 20px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
	
	 height: 55px;
	background-color: transparent;
}

.logout{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-transform: capitalize;
}

.list ul, .navbar-bg{
	background-color: #C8E0FF;
}
.list .payment
{
	background-color: transparent;
}

.user-icon{
	width: 13vw;
	height: 13vw;
	margin: 5% 4%;
	border-radius: 100px;
	border: 3px solid #CCA679;
}

.username{
	color: #d0954e;
	text-shadow: #CCA679;
	font-size: 24px;
	font-style: oblique;
}
.profile-inputs > p{
	font-weight: bold;
	color: #7278B9;
	font-size: 4vw;

//announcement
.announcement-small-icon{
	max-width: 20vw;
	max-height: 20vw;

}

.announcement-small-title{
	margin: 0;
}

.announcement-small-text{
	overflow: hidden;
	// text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 700px;
}

.announcement-list{
	margin-top: 5%;
		margin-top: 55px;

}

.announcement-list-row{
	padding: 15px 0;
}

p#annc_title{
	font-size: 6vw;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

p#annc_desc {
    font-size: 18px;
    text-align: justify;
}

//qr code
#qrcode-canvas{
	padding: 0;
    margin: 0 auto;
}
.qr{
	margin-top:60px;
	font-size:25px;
	text-align:center;
}
.qr_button
{
	margin-top:20px;
}

//payment
.amount-title{
	text-align:center;
	font-size:18px;
}

.amount-large{
	text-align:center;
	font-size:28px;
	margin-top:20px;
}
.page-content1{
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10% 0%;
	background-color:white;
}
//payment history
.item-link{
	background-color:white;
	margin-top:10px;
}
//payment method 
.title{
	font-size:25px;
	margin-left:20px;
	font-weight: bold;
	
}
.description{
	font-size:20px;
	margin-left:20px;
	margin-top:10px;
}
.list .payment_method
{
	background-color:transparent;
}

//tenant_list
.list .tenant_list
{
	background-color:white;
}
.card .card-content1
{
	margin-top:10px;
}
//Booking Details
.booking-details{
	border: 1px solid rgba(255,255,255,1);
	border-radius: 8px;
	background: linear-gradient(
		to right bottom, 
		rgba(255, 255, 255, 0.8), 
	rgba(255, 255, 255, 0.3)
	);
	backdrop-filter: blur(2rem);
	padding: 20px;
	margin: 5px;
	display: flex;
}

.booking-icons{
	width: 50px;
	height: 50px;	
}

.booking-image{
	flex: 1;
	display: flex;	
	justify-content: center;
	flex-direction: column;
}

.booking-info{
  	flex: 2;
	display: flex;	
	justify-content: center;
	flex-direction: column;
}

.facility-name, .booking-time, .booking-duration, .booking-status{
	margin: 0;
}

//  Select Facilities
.f1, .f2, .f3, .f4, .f5{
	background-size: cover;
	display: flex;
	padding: 5px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.652);
	min-height: 120px;
	border-radius: 8px;
	background-position: center;
}

.facility-name{
	color: white;
	padding: 10px;
	color: rgba(255, 96, 96, 0.65);
	font-size: 20px;
	text-shadow: rgba(200,224,255,1);

}

.f1{
	background-image: url("../static/icons/bbq.svg");
	
}

.f2{
	background-image: url("../static/icons/lounge.svg");
	filter: brightness(50%);
}

.f3{
	background-image: url("../static/icons/cinema.svg");
}

.f4{
	background-image: url("../static/icons/sauna.svg");
	filter: brightness(50%);
}

.f5{
	background-image: url("../static/icons/gym.svg");
}

//Select Time, Date and Duration
label[for="booking_time"], label[for="booking_duration"]{
	font-size: 20px;
	font-weight: bold;
	color: #7278B9;
}

select[name="booking_time"], select[name="booking_time"] option,
select[name="booking_duration"], select[name="booking_duration"] option{
	width: 80%;
	font-size: 18px;
	padding: 4px;
}


//Booking Success
.booking-success{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.booking-success img{
	width: 50%;
	margin: 0 auto;
}
// .booking-success-img{
// 	display: inline-block;
// 	flex-direction: column;
// }