// @body-width: 480px;
// @body-height: 853px;
@body-height: 50em;
@body-width: 22.5em;
@announcement-width: @body-width * 0.8;
@announcement-height: @announcement-width * (9/16);
@card-view-width: @body-width * 0.8;
@card-width: @card-view-width * 0.5;

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
/*.landlord{
	display:none;
}*/

.text-center{
	text-align: center;
}

.no-margin-block{
	margin: 0;
	clear: both;
}

.no-padding{
	padding: 0;
}

.top-margin-block{
	margin: 25px 0 0 0;
}

.block-strong:before, .block-strong:after,.list .item-inner:after{
	background-color:transparent;
}

.list .item-inner{
	justify-content: unset;
}

.list .item-inner label{
	margin-left: 50px;
}

.list .item-inner label img{
	margin-left: 20px;
}

// body{
// 	max-width: @body-width;
// 	max-height: @body-height;
// 	margin: 0 auto;
// 	background-color: #000000;
// }

//dashboard
.page{
	// background-color: #C8E0FF;
	background: rgb(200,224,255);
	// background: linear-gradient(180deg, rgba(200,224,255,1) 0%, rgba(255,217,173,1) 53%, rgba(200,224,255,1) 100%);
	background: linear-gradient(180deg, rgba(200,224,255,1) 0%, rgba(252,252,252,1) 100%);
}

.page-content{
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10% 0%;
}

.left{
	margin-top: 8%;
	// margin-left: 10px;
	float: left;
}

.right{
	margin-top: 8%;
	// margin-right: 10px;
	float: right;
}

.title{
	margin-top: 8%;
}

.card-margin-middle{
	margin: auto;
	vertical-align: middle;
	padding: 16% 15%;
	text-align: center;
	font-size: 18px;
}

.card-inline-blocks{
	margin: 2%;
	width: @card-width;
	display: inline-block; 
	height: 40%;
	border-radius: 7%;
}

.navbar-inner{
	padding: 10%;
	margin-top: 50%;
	// background-color: #c8e0ff;
	background-color: transparent;
}


/*.navbar-bg{
	visibility:hidden;
}*/

.swiper-slide{
	text-align: center;
	margin-top: 5%;
}

.announcement-img{
	width: @announcement-width;
	margin: 0 auto;
}

.card-views{
	// width: @card-view-width;
	margin: auto;
	text-align: center;
}

//Right Panel List
.list-buttons{
	width: 100%;
	font-size: 5vw;
	text-align: center;
    font-weight: 500;
    text-transform: capitalize;
	margin: 8% auto;
	height: 3rem;
	background-color: #C8E0FF;
}

.logout{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-transform: capitalize;
}

.list ul, .navbar-bg{
	background-color: #C8E0FF;
}

.user-icon{
	width: 13vw;
	height: 13vw;
	margin: 5% 4%;
	border-radius: 100px;
	border: 3px solid #CCA679;
}

.username{
	color: #d0954e;
	text-shadow: #CCA679;
	font-size: 24px;
	font-style: oblique;
}

//announcement
.announcement-small-icon{
	max-width: 20vw;
	max-height: 20vw;

}

.announcement-small-title{
	margin: 0;
}

.announcement-small-text{
	overflow: hidden;
	// text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 700px;
}

.announcement-list{
	margin-top: 5%;
}

.announcement-list-row{
	padding: 15px 0;
}

p#annc_title{
	font-size: 6vw;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

p#annc_desc {
    font-size: 18px;
    text-align: justify;
}

//qr code
#qrcode-canvas{
	padding: 0;
    margin: 0 auto;
}
.qr{
	margin-top:60px;
	font-size:25px;
	text-align:center;
}
.qr_button
{
	margin-top:20px;
}

//payment
.amount-title{
	text-align:center;
	font-size:18px;
}

.amount-large{
	text-align:center;
	font-size:28px;
}
.page-content1{
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10% 0%;
	background-color:white;
}
